# IDE
.vscode
.idea

# Python stuff
.venv
__pycache__
.mypy_cache

# Local testing
.env
dummyfile

# prettier-generated junk
node_modules

# Tool caches and build outputs
.ruff_cache
.pytest_cache
dist/
*.egg-info

# Credential files written by CI authentication steps
gha-creds-*.json
